main {

}

.sectionPicker {
    margin-top: 20px;
    color:#264b77;
    display: flex;
    align-items: center;
    justify-content: center;


}

.sectionPicker h2 {
    margin: 40px;
    cursor: pointer;
    padding: 20px;
}

.selected {
    background-color:  #b67929;
    animation-name: buttonAnimation;
    animation-duration: 2s;
    border-radius: 10%;

}

.about {
    animation-name: fadeInContent;
    animation-duration: 2s;

}

.projects {

    animation-name: fadeInContent;
    animation-duration: 2s;
}

.contact {
    animation-name: fadeInContent;
    animation-duration: 2s;

}

.mainContent {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



@keyframes buttonAnimation {
    from {background-color: #cdced2}
    to {background-color: #b67929}
}

@keyframes fadeInContent {
    from {opacity: 0}
    to {opacity: 1}
}



